node_modules
**/*/dist
**/*/node_modules
packages/server/node_modules
packages/server/.deployment
packages/frontend/node_modules
packages/frontend/dist
.nyc_output
coverage/
.env
.vscode
test-queries
